$base-font-size: 16px;
$font-zen-kaku: "Zen Kaku Gothic Antique", sans-serif;
$font-zen-kaku-new: "Zen Kaku Gothic New", sans-serif;
$font-noto-sans: "Noto Sans JP", sans-serif;
$font-roboto: "Roboto", sans-serif;
$font-oswald: "Oswald", sans-serif;
$font-roboto-condensed: "Roboto Condensed", sans-serif;

$color-text: #363434;
$color-brand: #e6002d;

$color-white: #ffffff;
$color-black: #000000;
$color-neutral-light-grey: #d8dce0;
$color-neutral-medium-grey: #9ea3a6;
$color-neutral-dark-grey: #595757;
$color-neutral-black: #363434;
$color-neutral-unselected: #9f9f9f;
$color-neutral-extra-light-grey: #b8b8b8;
$color-neutral-bg: #f7f7f7;
$color-unselected-grey: #999999;
$color-bg-accent: #f5f6f7;

$color-bg-base: #ededf0;
$color-black-card-bg: #1e1e1e;

$color-primary-100: #ffdedf;
$color-primary-200: #ffa6aa;
$color-primary-300: #ff626c;
$color-primary-400: #e6002d;
$color-primary-500: #a4001d;
$color-primary-600: #67000e;
$color-primary-700: #2f0003;

// Kids KAJIMA Media
$color-kids-gray-01: #999999;
$color-kids-gray-02-shadow: #d0cec2;
$color-kids-beige-01: #fffae7;
$color-kids-beige-02: #fff6da;
$color-kids-green: #00933c;
$color-kids-light-green: #b0faca;
$color-kids-blue: #c8fffa;
$color-kids-blue-shadow: #98e9ff;
$color-kids-yellow: #ffee69;
$color-kids-orange: #febe8d;
$color-kids-orange-shadow: #f4a364;
$color-kids-pink: #ffc5cb;
$color-kids-red: #e6002d;
$color-kids-bg: #fff8e2;
$color-kids-text: #252525;
$color-kids-light-bg: #fffcf2;
