$breakpoint-up: (
  'md': 'screen and (min-width: 768px)',
  'lg': 'screen and (min-width: 1153px)',
  'base': 'screen and (min-width: 1440px)',
  'xl': 'screen and (min-width: 1641px)',
) !default;

$breakpoint-down: (
  'md': 'screen and (max-width: 767px)',
  'lg': 'screen and (max-width: 1152px)',
  'base': 'screen and (max-width: 1439px)',
  'xl': 'screen and (max-width: 1640px)',
) !default;

@mixin mq-up($breakpoint: md) {
  @media #{map-get($breakpoint-up, $breakpoint)} {
    @content;
  }
}

@mixin mq-down($breakpoint: md) {
  @media #{map-get($breakpoint-down, $breakpoint)} {
    @content;
  }
}

@mixin pc-lead-copy-20px() {
  font-family: $font-noto-sans;
  font-weight: 500;
  font-size: rem(20);
  line-height: 1.4;
  letter-spacing: 0.08em;
}

@mixin sp-lead-copy-20px() {
  font-family: $font-noto-sans;
  font-weight: 500;
  font-size: rem(20);
  line-height: 1.6;
  letter-spacing: 0.08em;
}

@mixin pc-body-copy-18px() {
  font-family: $font-noto-sans;
  font-weight: 700;
  font-size: rem(18);
  line-height: 1.4;
  letter-spacing: 0.08em;
}

@mixin sp-body-16px() {
  font-family: $font-noto-sans;
  font-weight: 500;
  font-size: rem(16);
  line-height: 1.4;
  letter-spacing: 0.08em;
}

@mixin pc-body-14px() {
  font-family: $font-noto-sans;
  font-weight: 500;
  font-size: rem(14);
  line-height: 1.4;
  letter-spacing: 0.05em;
}

@function rem($pixel) {
  $factor: pow(10, 5);
  $rem-value: calc($pixel / 16) * 1rem;
  @return calc(round($rem-value * $factor) / $factor);
}
